.popup{
    
    margin-top: 0px;
    background: #fff;
    border-radius: 6px;
    width: 400px;
    height: 200px;
    position: absolute;
    top:0%;
    left: 53%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0,30px,30px;
    visibility: hidden;
    box-shadow: 10px 10px 10px ;
}
.popup button{
    width: 100px;
    height: 50px;
    margin: 10px;

}
.popup h3{
    margin-top: 10%;
}

.open-popup{
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}